<section id="skills" class="skills">
    <h2 class="skills__title">
        Compétences
    </h2>
    <div class="skills__schema container">

        <div class="schema__items js">
            <p class="schema__description">
                Mise en place d'intéraction avec l'utilisateur
            </p>
            <img src="{{ asset('images/javascript-icon_1.svg') }}" class="schema__icons " alt="">
        </div>

        <div class="schema__items php">
            <p class="schema__description">
                Instaurer du dynamisme dans les pages web
            </p>
            <img src="{{ asset('images/php-icon_2.svg') }}" class="schema__icons " alt="">
        </div>

        <div class="schema__items react">
            <p class="schema__description">
                Création d'interface utilisateur réactive
            </p>
            <img src="{{ asset('images/react-icon_2.svg') }}" class="schema__icons " alt="">
        </div>

        <div class="schema__items symfo">
            <p class="schema__description">
                Framework PHP, MVC, modulable et adaptable
            </p>
            <img src="{{ asset('images/symfony-icon_2.svg') }}" class="schema__icons " alt="">
        </div>

        <div class="schema__items sql">
            <p class="schema__description">
                Gestion des base de données relationnelles
            </p>
            <img src="{{ asset('images/mysql-icon_1.svg') }}" class="schema__icons " alt="">
        </div>

        <div class="schema__items git">
            <p class="schema__description">
                Versionning des projets web
            </p>
            <img src="{{ asset('images/git-icon_4.svg') }}" class="schema__icons " alt="">
        </div>
        <div class="schema__items linux">
            <p class="schema__description">
                Open source, souplesse de configuration et gratuit
            </p>
            <img src="{{ asset('images/linux-icon_3.svg') }}" class="schema__icons " alt="">
        </div>
        <div class="schema__items scrum">
            <p class="schema__description">
                Travail en méthode Agile
            </p>
            <img src="{{ asset('images/scrum-icon_1.svg') }}" class="schema__icons " alt="">
        </div>
    </div>
</section>