<section id="skills" class="skills">
    <h2 class="skills__title">
        Compétences
    </h2>
    <div class="skills__schema container">

        <div class="schema__items js">
            <p class="schema__description">
                Javascript: Mise en place d'intéraction avec l'utilisateur
            </p>
            <img src="{{ asset('images/javascript-icon_1.svg') }}" class="schema__icons " alt="logo du language de programmation JavaScript" title="Javascript">
        </div>

        <div class="schema__items php">
            <p class="schema__description">
                PHP: Instaurer du dynamisme dans les pages web
            </p>
            <img src="{{ asset('images/php-icon_2.svg') }}" class="schema__icons " alt="logo du language de programmation JavaScript" title="PHP Hypertext Preprocessor">
        </div>

        <div class="schema__items react">
            <p class="schema__description">
                ReactJS: Création d'interface utilisateur réactive
            </p>
            <img src="{{ asset('images/react-icon_2.svg') }}" class="schema__icons " alt="logo de la librairie JavaScript ReactJS" title="Librairie Javascript ReactJS">
        </div>

        <div class="schema__items symfo">
            <p class="schema__description">
                Symfony: Framework PHP, MVC, modulable et adaptable
            </p>
            <img src="{{ asset('images/symfony-icon_2.svg') }}" class="schema__icons " alt="logo du Framework PHP Symfony" title="Framework php Symfony">
        </div>

        <div class="schema__items sql">
            <p class="schema__description">
                MySQL: Gestion des base de données relationnelles
            </p>
            <img src="{{ asset('images/mysql-icon_1.svg') }}" class="schema__icons " alt="Logo du sytème de gestion de base de données MySQL" title="Système de gestion de base de données MySQL">
        </div>

        <div class="schema__items git">
            <p class="schema__description">
                Git: Versionning des projets web
            </p>
            <img src="{{ asset('images/git-icon_4.svg') }}" class="schema__icons " alt="Logo du logiciel de versionning Git" title="Outil de versionning Git">
        </div>
        <div class="schema__items linux">
            <p class="schema__description">
                Linux: Open source, souplesse de configuration et gratuit
            </p>
            <img src="{{ asset('images/linux-icon_3.svg') }}" class="schema__icons " alt="Logo du système Linux" title="Logo de Linux">
        </div>
        <div class="schema__items scrum">
            <p class="schema__description">
                Scrum: Travail en méthode Agile
            </p>
            <img src="{{ asset('images/scrum-icon_1.svg') }}" class="schema__icons " alt="Logo représentant les cycle du processus Agile en méthode scrum" title="Scrum">
        </div>
    </div>
</section>